/* .footer {
   position: fixed;
   top: 60px;
   z-index: 10;
   display: flex;
   justify-content: space-between;
   width: 100%;
   box-shadow: 0px 5px 3px -5px rgba(0, 0, 0, 0.3);
   background-color: white;
} */

.footer{
  bottom: 40% !important;
  background-color: rgb(126, 45, 45) !important;
  width: 100% !important;
  position: fixed !important;
  margin: 40 !important;
  box-shadow: 0px 1px 3px -5px rgba(0, 0, 0, 0.3),
  -1px -1px 2px -1px rgba(0, 0, 0, 0.2);
  justify-content: space-between;
  z-index: 1;
  height: 120px;
}

.MuiBottomNavigation-root {
  height: 58px !important;
}

.MuiBottomNavigationAction-root.Mui-selected {
  color: #03875f !important;
  padding-top: 6 px;
}

.MuiBottomNavigationAction-root {
  padding: 0 !important;
  max-width: 100% !important;
  min-width: 0 !important;
  color: rgb(78, 78, 78);
}

.MuiBottomNavigationAction-wrapper>.MuiSvgIcon-root {

  font-size: 28px;
}

.chatsIcon{
  font-size: 28px;
}

.MuiBottomNavigationAction-label {
  opacity: 1;
  font-size: 0.65rem !important;
  transition: font-size 0.2s, opacity 0.2s;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  transition-delay: 0.1s;
  margin-top: 2px;
  /* color: black; */
}

.footerIcon{
  color: rgba(0, 0, 0, 0.6) !important;
}
